<%- include('../partials/header') %>
<div class="page-content">
    <%- include('../partials/mainContent', {posts}); %>
    <%- include('../partials/side', { categoryList }); %>
</div>
<%- include('../partials/footer') %>